@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #4880ee;
  --color-red: #e84118;
  --color-gray: #dadada;
  --color-lightGray: #f2f4f6;
  --color-white: #f2f4f6;
  --color-black: #222222;

  --color-txt-primary: #353c49;
  --color-txt-secondary: #6d7582;
  --color-txt-subtitle: #8d94a0;
}

/* title 1 ~ 3 : h1 ~ 3과 대응 */
@layer base {
  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }

  h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
  }

  h3 {
    font-size: 18px;
    font-weight: 18px;
    line-height: 18px;
  }
}

/* title 1 ~ 3 제외 Typography 설정 */
@layer components {
  .body1 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
  }

  .body2 {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
  }

  .caption {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }

  .small {
    font-size: 10px;
    line-height: 10px;
    font-weight: 500px;
  }
}

html,
body {
  @apply font-sans
  /* @apply bg-white dark:bg-gray-950; */;
}
